* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 140px;
}
.footer-logo img {
  width: 140px;
}
.footer li:hover {
  filter: blur(0px);
}

.footer-details p {
  font-size: 17px;
  margin-bottom: 15px;
}
.footer-details,
.account,
.pages ul {
  line-height: 25px;
}
.footer:hover {
  cursor: pointer;
}
.footer ul li:hover {
  color: #7d7d7d;
}
li {
  list-style: none;
}
.footer .location {
  display: flex;
  align-items: center;
  line-height: 29px;
  margin-top: 49px;
}

.location-icons {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
}
.location-icons p:hover {
  color: #7d7d7d;
}
.location-icons p {
  max-width: 300px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer .icons li:hover {
  color: #ff8d56;
}
.copyright-info {
  font-size: 17px;
  font-style: italic;
  text-align: center;
  padding: 20px 0;
}
