* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 160px;
}
.footer-logo img {
  width: 140px;
}
.footer li:hover {
  filter: blur(0px);
}

.footer-details p {
  font-size: 17px;
  margin-bottom: 15px;
}
.footer-details,
.account,
.pages ul {
  line-height: 25px;
}
.footer li:hover {
  color: #a9a9a9;
  cursor: pointer;
}
li {
  list-style: none;
}
.footer .location {
  display: flex;
  align-items: center;
  line-height: 25px;
}

.location-icons {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
}
.location-icons p {
  max-width: 300px;
}
