* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/*  Navbar**************/
.top-banner {
  max-width: 100%;
  padding: 0 100px;
  background-color: #e3edf6;
}

.top-banner .container {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.details {
  margin-top: 6%;
}
.details h2 {
  font-size: 62px;
  font-weight: 600;
  color: #010f1c;
  margin-right: 40%;
  margin-bottom: 50px;
}
.btn {
  text-decoration: none;
  font-size: 15px;
  padding: 15px 31px;
  color: black;
  transition: 0.5s;
  background-color: #fff;
}

.btn:hover {
  background-color: #010f1c;
  color: #fff;
  border-radius: 5px;
}
/* products ************/
.products {
  width: 100%;
  padding: 30px 40px;
}
.products .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.image-box-3 img {
  width: 500px;
}
.container .box {
  padding: 20px 30px;
  margin-left: 20px;
}
.container .box .image-box,
.image-box-1 {
  height: 300px;
  overflow: hidden;
  width: 300px;
  border-radius: 50%;
  background-color: #e8f4ff;
}
.image-box img:hover {
  transform: scale(1.1);
}
.image-box-1 img:hover {
  transform: scale(1.1);
}
.image-box img {
  width: 180px;
  margin: 58px 46px;
  transition: 0.6s;
}
.image-box-1 img {
  width: 130px;
  margin: 48px 81px;
  transition: 0.6s;
}
.detials {
  text-align: center;
  align-items: center;
  width: 100%;
}
.detials p {
  margin-top: 10px;
  filter: grayscale(100px);
}
.detials p:hover {
  color: #9a9a9a;
  cursor: pointer;
}
/* about ************/
.about {
  padding: 20px 30px;
  width: 100%;
}
.about .container-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-wrapper .box-1 {
  padding: 40px 123px;
  border-radius: 10px;
  display: flex;
  background-color: #dcf2f7;
  display: flex;
  align-items: center;
  gap: 17px;
}
.box-1 .icon {
  font-size: 25px;
  margin-top: 10px;
  color: #ff8d56;
  transition: 0.6;
}
.box-1 .icon:hover {
  transform: scale(1.2);
}
.box-1 .details:hover {
  filter: blur(0.5px);
  cursor: pointer;
}

/* *****banner */
.banner {
  width: 100%;
  padding: 20px 30px;
}
.banner-container {
  padding: 30px 80px;
  border-radius: 10px;
  background-color: rgb(0, 195, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-details {
  margin-left: 30px;
}
.banner-details h4 {
  color: #e3edf6;
  font-size: 25px;
}
.banner-details h3 {
  font-size: 50px;
  margin-top: 20px;
  margin-right: 20%;
  letter-spacing: 3px;
  color: #fff;
}
.banner-details p {
  color: #fff;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.image-box-banner img {
  transition: 0.7s;
}
.image-box-banner img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.btn-1 {
  text-decoration: none;
  font-size: 15px;
  padding: 15px 31px;
  color: #fff;
  transition: 0.5s;
  background-color: #000;
  margin-top: 20px;
  position: relative;
  top: 52px;
  border-radius: 10px;
}

.btn-1:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}
/*footer ****** */
