* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*  Navbar**************/
.top-banner {
  max-width: 100%;
  padding: 0 100px;
  background-color: #e3edf6;
}

.top-banner .container {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.details {
  margin-top: 6%;
}
.details h2 {
  font-size: 62px;
  font-weight: 600;
  color: #010f1c;
  margin-right: 40%;
  margin-bottom: 50px;
}
.btn {
  text-decoration: none;
  font-size: 15px;
  padding: 15px 31px;
  color: black;
  transition: 0.5s;
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 16%;
  border-radius: 8px;
  gap: 9px;
}

.btn:hover {
  background-color: #010f1c;
  color: #fff;
  border-radius: 5px;
}
/* products ************/
.products {
  width: 100%;
  padding: 30px 40px;
}
.products .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.image-box-3 img {
  width: 500px;
}
.container .box {
  padding: 20px 30px;
  margin-left: 20px;
}
.container .box .image-box,
.image-box-1 {
  height: 300px;
  overflow: hidden;
  width: 300px;
  border-radius: 50%;
  background-color: #e8f4ff;
}
.image-box img:hover {
  transform: scale(1.1);
}
.image-box-1 img:hover {
  transform: scale(1.1);
}
.image-box img {
  width: 180px;
  margin: 58px 46px;
  transition: 0.6s;
}
.image-box-1 img {
  width: 130px;
  margin: 48px 81px;
  transition: 0.6s;
}
.detials {
  text-align: center;
  align-items: center;
  width: 100%;
}
.detials p {
  margin-top: 10px;
  filter: grayscale(100px);
}
.detials p:hover {
  color: #9a9a9a;
  cursor: pointer;
}
/* about ************/
.about {
  padding: 20px 30px;
  width: 100%;
}
.about .container-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-wrapper .box-1 {
  padding: 40px 123px;
  border-radius: 10px;
  display: flex;
  background-color: #dcf2f7;
  display: flex;
  align-items: center;
  gap: 17px;
}
.box-1 .icon {
  font-size: 25px;
  margin-top: 10px;
  color: #ff8d56;
  transition: 0.6;
}
.box-1 .icon:hover {
  transform: scale(1.2);
}
.box-1 .details:hover {
  filter: blur(0.5px);
  cursor: pointer;
}
/* Home products */
.product {
  padding: 50px 80px;
  width: 100%;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 95px;
  padding: 30px 60px;
  border-bottom: 1px solid #e2e0e0;
}
.product-container .box {
  padding: 20px 30px;
  width: 330px;
  height: 390px;
  border: 1px solid #e2e0e0;
  border-radius: 14px;
  transition: 0.5s;
}
.product-container .box:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 1px 3px 10px;
  cursor: pointer;
}
.img-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin: 8px 0;
}
.img-box img {
  width: 50%;
}
.detail {
  border-top: 1px solid #e2e0e0;
  margin: 40px 0;
  line-height: 25px;
}
.detail p {
  margin-top: 10px;
}
/* .product-icons {
  position: absolute;
  margin-left: 180px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  transition: 0.5s;
} */
.product-icons li {
  list-style: none;
  padding: 10px 10px;
  border: 1px solid #9a9a9a;
  color: #010f1c;
  cursor: pointer;
  background: #fff;
  box-shadow: rgb(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  transition: 0.8s;
}
.product-icons {
  position: relative;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.product-icons li:hover {
  background-color: #ff8d56;
  color: #fff;
}
.product .img-box:hover .product-icons {
  transform: translateX(-130px);
}
/* .product-icons li {
  padding: 20px 17px;
  color: #010f1c;
  background-color: #fff;
  box-shadow: rgb(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  transition: 0.8s;
  overflow: hidden;
} */

/* *****banner */
.banner {
  width: 100%;
  padding: 20px 30px;
}
.banner-container {
  padding: 30px 80px;
  border-radius: 10px;
  background-color: rgb(29 93 187 / 56%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-details {
  margin-left: 30px;
  cursor: pointer;
}
.banner-details h4 {
  color: #e3edf6;
  font-size: 25px;
  font-weight: 900;
}
.banner-details h3 {
  font-size: 50px;
  margin-top: 20px;
  margin-right: 20%;
  letter-spacing: 3px;
  color: #fff;
}

.banner-details p {
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 1px;
  margin-top: 10px;
}
.image-box-banner img {
  transition: 0.7s;
}
.image-box-banner img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.btn-1 {
  text-decoration: none;
  font-size: 15px;
  padding: 15px 31px;
  color: #fff;
  transition: 0.5s;
  background-color: #000;
  margin-top: 20px;
  position: relative;
  top: 52px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 19%;
}
.user-info h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 0;
}
.btn-1:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}
/* Testimonials */
/* .testimonials {
  display: flex;
  align-items: center;
  background-color: #e8f4ff;
  padding: 10px 100px;
}
.testimonials h1 {
  font-size: 25px;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */

#testimonials {
  width: 100%;
  padding: 100px 90px;
  position: relative;
  background-color: #f7fbff;
}
.testimonial-row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.title-text {
  text-align: center;
  margin-bottom: 55px;
  font-size: 25px;
  font-family: roboto;
  font-weight: 900;
  filter: opacity(0.9);
}
.title-text p {
  margin: auto;
  font-size: 20px;
  color: #e15e00;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#e15e00, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.user-info {
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.testimonial-column {
  flex-basis: 30%;
  text-align: justify;
  padding: 40px 33px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px 10px #00968814;
  transition: transform 0.5s;
  cursor: pointer;
  background-color: #fff;
}
.testimonial-column:hover {
  transform: translatey(10px);
}
.testimonial-column p {
  font-size: 16px;
  padding: 18px 0;
  letter-spacing: 0.5px;
}
.user img {
  width: 50px;
  margin-right: 20px;
  border-radius: 6px;
}
.user i {
  color: #27c0ff;
}
.user span {
  color: #ff8d56;
}
